body {
    background: linear-gradient(
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
      ),
    url('img/balloon-2.jpg') center no-repeat fixed;
    background-size: cover;
    
}

h2 {
    color:#BFFFE5;
    text-align:left;
    font-family:'Brush Script MT', cursive;
    font-size:70px;
}

.container {
   color:#BFFFE5;
   font-size:30px;
}

h1 {
    font-size:60px;
    font-family:Consolas, monaco, monospace;
    text-align:center;
}

contact {
    
}